<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>servlets.CreateUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ActivateReset</servlet-name>
        <servlet-class>servlets.ActivateReset</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FillEditForm</servlet-name>
        <servlet-class>servlets.FillEditForm</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetCakes</servlet-name>
        <servlet-class>servlets.GetCakes</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/CreateUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ActivateReset</servlet-name>
        <url-pattern>/ActivateReset</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FillEditForm</servlet-name>
        <url-pattern>/FillEditForm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetCakes</servlet-name>
        <url-pattern>/GetCakes</url-pattern>
    </servlet-mapping>

</web-app>